draft_nodered.json
[{"id":"e40961b1.ad649","type":"tab","label":"SmartHelmet","disabled":false,"info":""},{"id":"c773303.7246cd","type":"function","z":"e40961b1.ad649","name":"Parse message","func":"var msg433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nvar parts433 = msg.payload.split(\";\");\n// console.log(\"\\n\"+ parts433[0] +\"\\n\");\n\nfor (var i=0; i<parts433.length; i++) {\n    var keyvalue = parts433[i].split(\"=\");\n    if (keyvalue.length===2) {\n        msg433[keyvalue[0]] = keyvalue[1];\n    }\n}\nmsg.msg433 = msg433;\nmsg.topic=\"helmet\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["6dee95b8.6ef82c"]]},{"id":"6dee95b8.6ef82c","type":"function","z":"e40961b1.ad649","name":"roll Conversion ","func":"if (msg.msg433.roll!==undefined) {\n    msg.msg433.roll = parseFloat(msg.msg433.roll) ;\n} else msg.msg433.roll=0.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.roll});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":380,"wires":[["7afe7037.54ce3"]]},{"id":"7cb270d7.c88b1","type":"function","z":"e40961b1.ad649","name":"accX Conversion","func":"if (msg.msg433.accX!==undefined) {\n    msg.msg433.accX = parseFloat(msg.msg433.accX);\n}else msg.msg433.accX=null\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":500,"wires":[["b9ba4380.32c7"]]},{"id":"b9ba4380.32c7","type":"function","z":"e40961b1.ad649","name":"accY conversion","func":"if (msg.msg433.accY!==undefined) {\n    msg.msg433.accY = parseFloat(msg.msg433.accY);\n}else msg.msg433.accY=null\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":540,"wires":[["1d9e07b2.0f0f58"]]},{"id":"1d9e07b2.0f0f58","type":"function","z":"e40961b1.ad649","name":"accZ conversion","func":"if (msg.msg433.accZ!==undefined) {\n    msg.msg433.accZ = parseFloat(msg.msg433.accZ);\n}else msg.msg433.accZ=null\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":580,"wires":[["8b357864.5030b8"]]},{"id":"cd3cb6d2.640358","type":"function","z":"e40961b1.ad649","name":"SeatState conversion","func":"if (msg.msg433.seatState!==undefined) {\n    msg.msg433.seatState = msg.msg433.seatState;\n}else msg.msg433.seatState=null;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":620,"wires":[["8dba2f7d.abaa8"]]},{"id":"8dba2f7d.abaa8","type":"change","z":"e40961b1.ad649","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"helmet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":880,"wires":[["508256b3.31cd68"]]},{"id":"fab8599c.3ad538","type":"debug","z":"e40961b1.ad649","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg433","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1020,"wires":[]},{"id":"21825ef.819c2a2","type":"influxdb out","z":"e40961b1.ad649","influxdb":"826208f0.53391","name":"SmartHelmet","measurement":"helmet","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":630,"y":900,"wires":[]},{"id":"7afe7037.54ce3","type":"function","z":"e40961b1.ad649","name":"pitch Conversion","func":"if (msg.msg433.pitch!==undefined) {\n    msg.msg433.pitch = parseFloat(msg.msg433.pitch) ;\n} else msg.msg433.pitch=0.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.pitch});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["7cb270d7.c88b1"]]},{"id":"a8dc6132.c2f0c8","type":"aedes broker","z":"e40961b1.ad649","name":"ESP32","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":130,"y":40,"wires":[["bd57bccc.7a464"]]},{"id":"95249ed6.bd93c8","type":"mqtt in","z":"e40961b1.ad649","name":"","topic":"esp32/HELMET_INFO","qos":"1","datatype":"auto","broker":"d08c36a.2f494c8","nl":false,"rap":true,"rh":0,"x":160,"y":380,"wires":[["c773303.7246cd"]]},{"id":"e04f5c9a.d793a8","type":"comment","z":"e40961b1.ad649","name":"Just for testing","info":"","x":180,"y":460,"wires":[]},{"id":"bd57bccc.7a464","type":"function","z":"e40961b1.ad649","name":"connection ","func":"if (msg.payload.client.id==\"SmartHelmet\"){\n    //msg={connected:\"true\"};\n    return msg;\n}\n//   return msg={out:msg.payload.client.id}\n// return {out:msg.payload[\"client\"]};\n// var parts433 = msg.payload.split(\";\");\n// console.log(\"\\n\"+ parts433[0] +\"\\n\");\n\n// for (var i=0; i<parts433.length; i++) {\n//     var keyvalue = parts433[i].split(\"=\");\n//     if (keyvalue.length===2) {\n//         msg433[keyvalue[0]] = keyvalue[1];\n//     }\n// }\n// msg.msg433 = msg433;\n// msg.topic=\"helmet\";\n// return msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":60,"wires":[[]]},{"id":"e0833448.07cc6","type":"comment","z":"e40961b1.ad649","name":"How to check if the esp is Online or not??","info":"","x":380,"y":20,"wires":[]},{"id":"659e8ccb.f20c1c","type":"function","z":"e40961b1.ad649","name":"gyroZ conversion","func":"if (msg.msg433.gyroZ!==undefined) {\n    msg.msg433.gyroZ = parseFloat(msg.msg433.gyroZ);\n}else msg.msg433.gyroZ=null\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":720,"wires":[["8f4bb0b9.9c5b9"]]},{"id":"4bd3fe7f.96a47","type":"function","z":"e40961b1.ad649","name":"gyroY conversion","func":"if (msg.msg433.gyroY!==undefined) {\n    msg.msg433.gyroY = parseFloat(msg.msg433.gyroY);\n}else msg.msg433.gyroY=null\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":680,"wires":[["659e8ccb.f20c1c"]]},{"id":"8b357864.5030b8","type":"function","z":"e40961b1.ad649","name":"gyroX Conversion","func":"if (msg.msg433.gyroX!==undefined) {\n    msg.msg433.gyroX = parseFloat(msg.msg433.gyroX);\n}else msg.msg433.gyroX=null\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":427,"y":632,"wires":[["4bd3fe7f.96a47"]]},{"id":"83a18a0c.5bd698","type":"mqtt in","z":"e40961b1.ad649","name":"","topic":"esp32/TURNS","qos":"1","datatype":"auto","broker":"d08c36a.2f494c8","nl":false,"rap":true,"rh":0,"x":150,"y":200,"wires":[["e0c99db6.3cc83"]]},{"id":"192992cb.b29d1d","type":"debug","z":"e40961b1.ad649","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg433.seatState","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":40,"wires":[]},{"id":"210a8419.b4925c","type":"change","z":"e40961b1.ad649","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"turns","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":120,"wires":[["4afb26ec.7a1608"]]},{"id":"508256b3.31cd68","type":"function","z":"e40961b1.ad649","name":"Helmet Info","func":"msg.payload = {\n    ldr: msg.msg433.ldr,\n    accX: msg.msg433.accX,\n    accY: msg.msg433.accY,\n    accZ: msg.msg433.accZ,\n    gyroX: msg.msg433.gyroX,\n    gyroY: msg.msg433.gyroY,\n    gyroZ: msg.msg433.gyroZ,\n    roll: msg.msg433.roll,\n    pitch: msg.msg433.pitch,\n    seatState: msg.msg433.seatState\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":940,"wires":[["21825ef.819c2a2"]]},{"id":"4afb26ec.7a1608","type":"function","z":"e40961b1.ad649","name":"Helmet Info","func":"msg.payload = {\n    turn: msg.msg433.turn,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":180,"wires":[["d72e961e.074378"]]},{"id":"e0c99db6.3cc83","type":"function","z":"e40961b1.ad649","name":"Parse message","func":"var msg433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nvar parts433 = msg.payload.split(\";\");\n// console.log(\"\\n\"+ parts433[0] +\"\\n\");\n\nfor (var i=0; i<parts433.length; i++) {\n    var keyvalue = parts433[i].split(\"=\");\n    if (keyvalue.length===2) {\n        msg433[keyvalue[0]] = keyvalue[1];\n    }\n}\nmsg.msg433 = msg433;\nmsg.topic=\"helmet\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["210a8419.b4925c"]]},{"id":"d72e961e.074378","type":"influxdb out","z":"e40961b1.ad649","influxdb":"826208f0.53391","name":"SmartHelmet","measurement":"turns","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":670,"y":240,"wires":[]},{"id":"8f4bb0b9.9c5b9","type":"function","z":"e40961b1.ad649","name":"ldr conversion","func":"if (msg.msg433.ldr!==undefined) {\n    msg.msg433.ldr = parseInt(msg.msg433.ldr);\n}else msg.msg433.ldr=null;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":760,"wires":[["cd3cb6d2.640358"]]},{"id":"826208f0.53391","type":"influxdb","hostname":"192.168.1.20","port":"8086","protocol":"http","database":"smarthelmet","name":"SmartHelmet Info","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://192.168.1.20:8086","rejectUnauthorized":true},{"id":"d08c36a.2f494c8","type":"mqtt-broker","name":"Aedes Broker","broker":"192.168.1.20","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
