draft_nodered.json
[{"id":"e40961b1.ad649","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"c773303.7246cd","type":"function","z":"e40961b1.ad649","name":"Parse message","func":"// var msg = {payload:\"ldr=0;roll=0.91;pitch=-0.07;accX=0.01;accY=0.16;accZ=10.30;\"};\nvar msg433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n// console.log(msg.payload);\nvar parts433 = msg.payload.split(\";\");\nconsole.log(\"\\n\"+ parts433[0] +\"\\n\");\n\nfor (var i=0; i<parts433.length; i++) {\n    var keyvalue = parts433[i].split(\"=\");\n    if (keyvalue.length===2) {\n        msg433[keyvalue[0]] = keyvalue[1];\n    }\n}\nmsg.msg433 = msg433;\nmsg.topic=\"helmet\";\nreturn msg;\n\n\n\n// var msg433 = {};\n// msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n// var parts433 = msg.payload.split(\";\");\n\n// msg433.p1 = parts433[0];\n// msg433.p2 = parts433[1];\n// msg433.name = parts433[2];\n// for (var i=3; i<parts433.length; i++) {\n//     var keyvalue = parts433[i].split(\"=\");\n//     if (keyvalue.length===2) {\n//         msg433[keyvalue[0]] = keyvalue[1];\n//     }\n// }\n\n// msg.msg433 = msg433;\n// msg.topic=\"rflink\";\n\n// return msg;\n\n/*\n\n// So firstly a generic means of getting incoming items into an object\n\nvar the433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nnode.warn(msg.payload);\nvar parts433 = msg.payload.split(\";\");\n\nthe433.p1 = parts433[0];\nthe433.p2 = parts433[1];\nthe433.name = parts433[2];\n\nvar a = 3;\nwhile (a < parts433.length) {\n    var bits433 = parts433[a].split(\"=\");\n    switch (bits433[0]) {\n        case \"ID\": the433.id = bits433[1]; break;\n        case \"SWITCH\": the433.switch = bits433[1]; break;\n        case \"CMD\": the433.cmd = bits433[1]; break;\n        case \"SET_LEVEL\": the433.set_level = parseInt(bits433[1], 10); break;\n        case \"TEMP\": the433.temp = parseInt(bits433[1], 16) / 10; break;\n        case \"HUM\": the433.hum = parseInt(bits433[1], 10); break;\n        case \"BARO\": the433.baro = parseInt(bits433[1], 16); break;\n        case \"HSTATUS\": the433.hstatus = parseInt(bits433[1], 10); break;\n        case \"BFORECAST\": the433.bforecast = parseInt(bits433[1], 10); break;\n        case \"UV\": the433.uv = parseInt(bits433[1], 16); break;\n        case \"LUX\": the433.lux = parseInt(bits433[1], 16); break;\n        case \"BAT\": the433.bat = bits433[1]; break;\n        case \"RAIN\": the433.rain = parseInt(bits433[1], 16) / 10; break;\n        case \"RAIN\": the433.rainrate = parseInt(bits433[1], 16) / 10; break;\n        case \"WINSP\": the433.winsp = parseInt(bits433[1], 16) / 10; break;\n        case \"AWINSP\": the433.awinsp = parseInt(bits433[1], 16) / 10; break;\n        case \"WINGS\": the433.wings = parseInt(bits433[1], 16); break;\n        case \"WINDIR\": the433.windir = parseInt(bits433[1], 10); break;\n        case \"WINCHL\": the433.winchl = parseInt(bits433[1], 16); break;\n        case \"WINTMP\": the433.wintmp = parseInt(bits433[1], 16); break;\n        case \"CHIME\": the433.chime = parseInt(bits433[1], 10); break;\n        case \"SMOKEALERT\": the433.smokealert = bits433[1]; break;\n        case \"PIR\": the433.pir = bits433[1]; break;\n        case \"CO2\": the433.co2 = parseInt(bits433[1], 10); break;\n        case \"SOUND\": the433.sound = parseInt(bits433[1], 10); break;\n        case \"KWATT\": the433.kwatt = parseInt(bits433[1], 16); break;\n        case \"WATT\": the433.watt = parseInt(bits433[1], 16); break;\n        case \"CURRENT\": the433.current = parseInt(bits433[1], 10); break;\n        case \"CURRENT2\": the433.current2 = parseInt(bits433[1], 10); break;\n        case \"CURRENT3\": the433.current3 = parseInt(bits433[1], 10); break;\n        case \"DIST\": the433.dist = parseInt(bits433[1], 10); break;\n        case \"METER\": the433.meter = parseInt(bits433[1], 10); break;\n        case \"VOLT\": the433.volt = parseInt(bits433[1], 10); break;\n        case \"RGBW\": the433.rgbc = parseInt(bits433[1].substring(0, 2), 16);\n            the433.rgbw = parseInt(bits433[1].substring(2, 4), 16); break;\n    }\n    a++;\n}\n\n// SO - the above is general... here is my specific setup for temporarily displaying\n// the Acurite info\nif ((the433.p1 == \"20\") && (the433.name == \"Acurite\") && (the433.id == \"c826\")) {\n    if (typeof the433.temp !== 'undefined') temp = the433.temp;\n    if (typeof the433.hum !== 'undefined') hum = the433.hum;\n    if (typeof the433.bat !== 'undefined') bat = the433.bat;\n    if (typeof the433.rain !== 'undefined') rain = the433.rain;\n    if (typeof the433.winsp !== 'undefined') winsp = the433.winsp;\n    if (typeof the433.windir !== 'undefined') windir = the433.windir;\n\n    node.warn(\"Temperature: \" + temp + \"c\");\n    node.warn(\"Humidity: \" + hum + \"%\");\n    node.warn(\"Battery: \" + bat);\n    node.warn(\"Rain: \" + rain + \"mm\");\n    node.warn(\"Wind Speed: \" + winsp + \"km/h\");\n    node.warn(\"Wind Dir: \" + (windir * 22.5) + \" degrees\");\n}\n\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["6dee95b8.6ef82c"]]},{"id":"6dee95b8.6ef82c","type":"function","z":"e40961b1.ad649","name":"roll Conversion ","func":"if (msg.msg433.roll!==undefined) {\n    msg.msg433.roll = parseFloat(msg.msg433.roll) ;\n} else msg.msg433.roll=0.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.roll});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":437,"y":373,"wires":[["7afe7037.54ce3"]]},{"id":"7cb270d7.c88b1","type":"function","z":"e40961b1.ad649","name":"accX Conversion","func":"if (msg.msg433.accX!==undefined) {\n    msg.msg433.accX = parseFloat(msg.msg433.accX);\n}else msg.msg433.accX=0.0\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":447,"y":493,"wires":[["b9ba4380.32c7"]]},{"id":"b9ba4380.32c7","type":"function","z":"e40961b1.ad649","name":"accY conversion","func":"if (msg.msg433.accY!==undefined) {\n    msg.msg433.accY = parseFloat(msg.msg433.accY);\n}else msg.msg433.accY=0.0\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":438,"y":546,"wires":[["1d9e07b2.0f0f58"]]},{"id":"1d9e07b2.0f0f58","type":"function","z":"e40961b1.ad649","name":"accZ conversion","func":"if (msg.msg433.accZ!==undefined) {\n    msg.msg433.accZ = parseFloat(msg.msg433.accZ);\n}else msg.msg433.accZ=0.0\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":439,"y":608,"wires":[["cd3cb6d2.640358"]]},{"id":"cd3cb6d2.640358","type":"function","z":"e40961b1.ad649","name":"ldr conversion","func":"if (msg.msg433.ldr!==undefined) {\n    msg.msg433.ldr = parseInt(msg.msg433.ldr);\n}else msg.msg433.ldr=0;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":439,"y":678,"wires":[["8dba2f7d.abaa8"]]},{"id":"8dba2f7d.abaa8","type":"change","z":"e40961b1.ad649","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"helmet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":438,"y":855,"wires":[["508256b3.31cd68"]]},{"id":"508256b3.31cd68","type":"function","z":"e40961b1.ad649","name":"Helmet Info","func":"msg.payload = {\n    ldr: msg.msg433.ldr,\n    accX: msg.msg433.accX,\n    accY: msg.msg433.accY,\n    accZ: msg.msg433.accZ,\n    roll: msg.msg433.roll,\n    pitch: msg.msg433.pitch\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":608,"y":775,"wires":[["21825ef.819c2a2"]]},{"id":"fe1dcc9.31ead3","type":"inject","z":"e40961b1.ad649","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20;02;DKW2012;ID=0043;TEMP=8010;HUM=57;WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK;","payloadType":"str","x":215,"y":337,"wires":[["c773303.7246cd"]]},{"id":"fab8599c.3ad538","type":"debug","z":"e40961b1.ad649","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":588,"y":935,"wires":[]},{"id":"21825ef.819c2a2","type":"influxdb out","z":"e40961b1.ad649","influxdb":"826208f0.53391","name":"Weather","measurement":"helmet","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":758,"y":875,"wires":[]},{"id":"f9901742.eef988","type":"debug","z":"e40961b1.ad649","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":448,"y":235,"wires":[]},{"id":"7afe7037.54ce3","type":"function","z":"e40961b1.ad649","name":"pitch Conversion","func":"if (msg.msg433.pitch!==undefined) {\n    msg.msg433.pitch = parseFloat(msg.msg433.pitch) ;\n} else msg.msg433.pitch=0.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.pitch});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":446,"y":434,"wires":[["7cb270d7.c88b1"]]},{"id":"a8dc6132.c2f0c8","type":"aedes broker","z":"e40961b1.ad649","name":"ESP32","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":190,"y":80,"wires":[[]]},{"id":"95249ed6.bd93c8","type":"mqtt in","z":"e40961b1.ad649","name":"","topic":"esp32/HELMET_INFO","qos":"2","datatype":"auto","broker":"d08c36a.2f494c8","nl":false,"rap":true,"rh":0,"x":238,"y":235,"wires":[["c773303.7246cd","f9901742.eef988"]]},{"id":"826208f0.53391","type":"influxdb","hostname":"192.168.1.20","port":"8086","protocol":"http","database":"smarthelmet","name":"SmartHelmet Info","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://192.168.1.20:8086","rejectUnauthorized":true},{"id":"d08c36a.2f494c8","type":"mqtt-broker","name":"Aedes Broker","broker":"192.168.1.20","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]